name: Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: mafia-game.p5ina.dev
          username: p5ina
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            cd ~/projects/imperium
            git pull origin master
            docker compose build
            docker compose up -d
